/* style.css */
body{
  background: #CDEDF6;
  color: #5EB1BF;
  font-size: 25px;
  font-family: 'Fjalla One', serif;
  text-align: center;
}


h1{
  font-family: 'Merriweather', serif;
  color: #D84727;
  font-weight: lighter;
  font-size: 40px;

}
h2 {
  font-family: 'Merriweather', serif;
  color: #EF7B45;
  font-weight: lighter;
  font-size: 15px;
}
a {
  color: #042A2B;
}
a:hover {
  text-decoration: none;
  color: #D84727;
}

#banner{
  text-align: center;
  background-image: url("https://images.pexels.com/photos/704971/pexels-photo-704971.jpeg?cs=srgb&dl=bottle-bowl-breakfast-704971.jpg&fm=jpg");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 40px;
  font-weight: lighter;
}

#footer a {
  color: lightgrey;
  font-size: 25px;
}
#footer a:hover {
  color: white;
}